<script setup lang="ts">
const props = defineProps({
  isLink: {
    type: Boolean,
    default: true
  },
  disabled: {
    type: Boolean,
    default: false
  },
  to: {
    type: String,
    default: ""
  },
  lightColors: {
    type: String,
    default: "clr-blue-content"
  },
  darkColors: {
    type: String,
    default: "white"
  },
});
</script>

<template>
  <p
      v-if="disabled"
      :class="`opacity-50 text-${lightColors} dark:text-${darkColors} fill-${lightColors} dark:fill-${darkColors}`"
  >
    <slot/>
  </p>
  <a
      v-else-if="isLink"
      :class="`text-${lightColors} dark:text-${darkColors} fill-${lightColors} dark:fill-${darkColors}`"
      class="hover:underline"
      :href="to"
  >
    <slot/>
  </a>
  <div
      v-else
      :class="`text-${lightColors} dark:text-${darkColors} fill-${lightColors} dark:fill-${darkColors}`"
  >
    <slot/>
  </div>
</template>

<style scoped>
</style>
