<script setup lang="ts">

import {ref} from "vue";

const props = defineProps({
  isError: {
    type: Boolean,
    default: false
  }
})


const searchingUsername = ref("");
</script>

<template>
  <nav
      class="box-shadow-base flex items-center justify-between
             gap-x-3 p-3 pl-4 rounded-lg
             md:gap-x-6 md:pl-6
             bg-clr-almost-white dark:bg-clr-bg-dark-mode"
  >
    <img src="../assets/icon-search.svg" alt="search icon">
    <input
        v-model="searchingUsername"
        class="grow text-lg outline-0
                  w-full
                  text-xs md:text-lg
                  placeholder-clr-grey dark:placeholder-white
                  bg-clr-almost-white dark:bg-clr-bg-dark-mode
                  text-clr-dark-darken-bg dark:text-white"
        placeholder="Search GitHub username…"
        @input="$emit('is-typing')"
        @keyup.enter="$emit('search', searchingUsername)"
    >
    <span
        v-if="isError"
        class="text-red-500 font-bold"
    >
              No results
    </span>
    <button
        class="py-2.5 px-3.5 md:px-5
               text-white font-bold rounded-2xl
               text-sm md:text-base
               bg-clr-primary hover:bg-clr-primary-active"
        @click="$emit('search', searchingUsername)"
    >
      Search
    </button>
  </nav>
</template>

<style scoped>
</style>
