<script setup lang="ts">
import {Theme, setTheme} from "./updateTheme";
import SearchBar from "./components/SearchBar.vue";


function clickTemp() {
  setTheme(localStorage.theme === Theme.Light ? Theme.Dark : Theme.Light);
  console.log(localStorage.theme);
}

</script>

<template>
  <div>
    <main class="space-y-16 my-16">
      <div class="flex justify-between">
        <button
            @click="clickTemp"
            class="text-2xl font-bold dark:text-white"
        >
          devfinder
        </button>
        <p class="text-2xl font-bold">Design System</p>
      </div>

      <section class="space-y-8">
        <h2 class="section-title text-2xl font-bold text-clr-darken-content"><span aria-hidden="true"
                                                                                   class="text-clr-grey opacity-50">1 </span>
          Colors</h2>
        <p class="uppercase text-clr-grey font-bold opacity-90">light mode colors</p>
        <div class="colors-palette-container flex flex-row flex-wrap justify-center md:justify-start gap-x-12 gap-y-6">
          <div class="w-64 space-y-4" v-for="color in colorsData.light">
            <div class="pb-5 pt-12 pl-5 text-xl font-bold rounded-lg"
                 :class="color.textWhite ? 'text-white' : 'text-black'" :style="`background-color: ${color.hex}`">
              {{ color.hex }}
            </div>
            <div>
              <p class="grid" style="grid-template-columns: 1fr 3fr;">
                <span>RGB</span> {{ color.RGB }}
              </p>
              <p class="grid" style="grid-template-columns: 1fr 3fr;">
                <span>HSL</span> {{ color.HSL }}
              </p>
            </div>
          </div>
        </div>
        <p class="uppercase text-clr-grey font-bold opacity-90">dark mode colors</p>
        <div class="colors-palette-container flex flex-row flex-wrap justify-center md:justify-start gap-x-12 gap-y-6">
          <div class="w-64 space-y-4" v-for="color in colorsData.dark">
            <div class="pb-5 pt-12 pl-5 text-xl font-bold rounded-lg"
                 :class="color.textWhite ? 'text-white' : 'text-black'" :style="`background-color: ${color.hex}`">
              {{ color.hex }}
            </div>
            <div>
              <p class="grid" style="grid-template-columns: 1fr 3fr;">
                <span>RGB</span> {{ color.RGB }}
              </p>
              <p class="grid" style="grid-template-columns: 1fr 3fr;">
                <span>HSL</span> {{ color.HSL }}
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="space-y-4">
        <h2 class="section-title text-2xl font-bold text-clr-darken-content"><span aria-hidden="true"
                                                                                   class="text-clr-grey opacity-50">2 </span>
          Typography</h2>
        <div class="flex">
          <div class="space-y-4">
            <div>
              <p class="typography-display-title">H1 - Space Mono Bold - 26px - 38px Line Height</p>
              <p class="text-h1">The Octocat</p>
            </div>
            <div>
              <p class="typography-display-title">H2 - Space Mono Bold - 22px - 33px Line Height</p>
              <p class="text-h2">Lorem ipsum dolor sit amet</p>
            </div>
            <div>
              <p class="typography-display-title">H3 - Space Mono Reg. - 16px - 24px Line Height</p>
              <p class="text-h3">@octocat</p>
            </div>
            <div>
              <p class="typography-display-title">H4 - Space Mono Reg - 13px - 20px Line Height</p>
              <p class="text-h4">Repos</p>
            </div>
          </div>
          <div>
            <div>
              <p class="typography-display-title">Body - Space Mono Reg - 15px - 25px Line Height</p>
              <p class="text-body">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
                Lorem
                ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Lorem
                ipsum
                dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Lorem ipsum
                dolor
                sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
                <br><br>
                Quisque volutpat mattis eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.
                Quisque
                volutpat mattis eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque
                volutpat
                mattis eros. consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="space-y-24">
        <h2 class="section-title text-2xl font-bold text-clr-darken-content"><span aria-hidden="true"
                                                                                   class="text-clr-grey opacity-50">3 </span>
          Interactive Elements</h2>
        <div class="grid grid-cols-2 gap-x-8 gap-y-8">
          <div class="space-y-8 text-center">
            <div
                class="box-shadow-base flex items-center justify-between gap-x-6 p-3 pl-6 bg-clr-almost-white rounded-lg">
              <img src="./assets/icon-search.svg" alt="search icon">
              <input class="grow text-lg placeholder-clr-grey" placeholder="Search GitHub username…">
              <button
                  class="py-3 px-6 bg-clr-primary text-white font-bold rounded-lg"
              >
                Search
              </button>
            </div>

            <div class="text-clr-grey">
              Light Search Bar - Idle
            </div>
          </div>
          <div class="space-y-8 text-center">
            <div class="box-shadow-base flex items-center justify-between p-3 pl-6 bg-clr-almost-white rounded-lg">
              <img src="./assets/icon-search.svg" alt="search icon">
              <input class="grow mx-6 text-lg placeholder-clr-grey" placeholder="Search GitHub username…"
                     value="octocat">
              <button
                  class="py-3 px-6 bg-clr-primary-active text-white font-bold rounded-lg"
              >
                Search
              </button>
            </div>
            <div class="text-clr-grey">
              Light Search Bar - Active Search + Button Hover
            </div>
          </div>
          <div class="space-y-8 text-center">
            <div
                class="box-shadow-base flex items-center justify-between gap-x-6 p-3 pl-6 bg-clr-almost-white rounded-lg">
              <img src="./assets/icon-search.svg" alt="search icon">
              <input class="grow text-lg placeholder-clr-grey" placeholder="Search GitHub username…" value="octocat">
              <span class="text-red-500 font-bold">
              No results
            </span>
              <button
                  class="py-3 px-6 bg-clr-primary bg-opacity-60 text-white font-bold rounded-lg"
              >
                Search
              </button>
            </div>

            <div class="text-clr-grey">
              Light Search Bar - Idle
            </div>
          </div>
          <div></div>
          <div class="space-y-8 text-center">
            <div
                class="box-shadow-base flex items-center justify-between gap-x-6 p-3 pl-6 bg-clr-bg-dark-mode rounded-lg">
              <img src="./assets/icon-search.svg" alt="search icon">
              <input class="grow text-lg placeholder-white bg-clr-bg-dark-mode" placeholder="Search GitHub username…">
              <button
                  class="py-3 px-6 bg-clr-primary text-white font-bold rounded-lg"
              >
                Search
              </button>
            </div>

            <div class="text-clr-grey">
              Dark Search Bar - Idle
            </div>
          </div>
          <div class="space-y-8 text-center">
            <div
                class="box-shadow-base flex items-center justify-between gap-x-6 p-3 pl-6 bg-clr-bg-dark-mode rounded-lg">
              <img src="./assets/icon-search.svg" alt="search icon">
              <input class="grow text-lg placeholder-white bg-clr-bg-dark-mode text-white"
                     placeholder="Search GitHub username…" value="octocat">
              <button
                  class="py-3 px-6 bg-clr-primary-active text-white font-bold rounded-lg"
              >
                Search
              </button>
            </div>

            <div class="text-clr-grey">
              Dark Search Bar - Active Search + Button Hover
            </div>
          </div>
          <div class="space-y-8 text-center">
            <div
                class="box-shadow-base flex items-center justify-between gap-x-6 p-3 pl-6 bg-clr-bg-dark-mode rounded-lg">
              <img src="./assets/icon-search.svg" alt="search icon">
              <input class="grow text-lg placeholder-white bg-clr-bg-dark-mode text-white"
                     placeholder="Search GitHub username…" value="octocat">
              <span class="text-red-500 font-bold">
              No results
            </span>
              <button
                  class="py-3 px-6 bg-clr-primary-active text-white font-bold rounded-lg"
              >
                Search
              </button>
            </div>

            <div class="text-clr-grey">
              Dark Search Bar - Error (No Results)
            </div>
          </div>
          <div></div>
          <div class="space-y-8 text-center">
            <SearchBar></SearchBar>
            <div class="text-clr-grey">
              Component
            </div>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-y-16">
          <div class="grow grid grid-cols-2 px-8 gap-y-12 py-8">
            <div class="space-y-6">
              <p class="text-clr-blue-content">Light Toggle - Idle</p>
              <div class="flex items-center space-x-3">
                <p class="uppercase text-sm font-bold text-clr-blue-content tracking-[.15em]">light</p>
                <svg class="" width="20" height="20" xmlns="http://www.w3.org/2000/svg">
                  <g fill="#4B6A9B" fill-rule="nonzero">
                    <path
                        d="M13.545 6.455c-.9-.9-2.17-1.481-3.545-1.481a4.934 4.934 0 00-3.545 1.481c-.9.9-1.481 2.17-1.481 3.545 0 1.376.582 2.646 1.481 3.545.9.9 2.17 1.481 3.545 1.481a4.934 4.934 0 003.545-1.481c.9-.9 1.481-2.17 1.481-3.545a4.934 4.934 0 00-1.481-3.545zM10 3.413a.7.7 0 00.688-.688V.688A.7.7 0 0010 0a.7.7 0 00-.688.688v2.037a.7.7 0 00.688.688zM15.635 5.344l1.455-1.455a.67.67 0 000-.952.67.67 0 00-.952 0l-1.455 1.455a.67.67 0 000 .952c.238.264.66.264.952 0zM19.312 9.312h-2.037a.7.7 0 00-.688.688.7.7 0 00.688.688h2.037A.7.7 0 0020 10a.7.7 0 00-.688-.688zM15.608 14.656a.67.67 0 00-.952 0 .67.67 0 000 .952l1.455 1.455a.67.67 0 00.952 0 .67.67 0 000-.952l-1.455-1.455zM10 16.587a.7.7 0 00-.688.688v2.037A.7.7 0 0010 20a.7.7 0 00.688-.688v-2.037a.7.7 0 00-.688-.688zM4.365 14.656L2.91 16.111a.67.67 0 000 .952.67.67 0 00.952 0l1.455-1.455a.67.67 0 000-.952c-.238-.264-.66-.264-.952 0zM3.413 10a.7.7 0 00-.688-.688H.688A.7.7 0 000 10a.7.7 0 00.688.688h2.037A.7.7 0 003.413 10zM4.365 5.344a.67.67 0 00.952 0 .67.67 0 000-.952L3.862 2.937a.67.67 0 00-.952 0 .67.67 0 000 .952l1.455 1.455z"/>
                  </g>
                </svg>
              </div>
            </div>
            <div class="space-y-6">
              <p class="text-clr-blue-content">Light Toggle - Hover</p>
              <div class="flex items-center space-x-3">
                <p class="uppercase text-sm font-bold text-[#222731] tracking-[.15em]">light</p>
                <svg class="" width="20" height="20" xmlns="http://www.w3.org/2000/svg">
                  <g fill="#222731" fill-rule="nonzero">
                    <path
                        d="M13.545 6.455c-.9-.9-2.17-1.481-3.545-1.481a4.934 4.934 0 00-3.545 1.481c-.9.9-1.481 2.17-1.481 3.545 0 1.376.582 2.646 1.481 3.545.9.9 2.17 1.481 3.545 1.481a4.934 4.934 0 003.545-1.481c.9-.9 1.481-2.17 1.481-3.545a4.934 4.934 0 00-1.481-3.545zM10 3.413a.7.7 0 00.688-.688V.688A.7.7 0 0010 0a.7.7 0 00-.688.688v2.037a.7.7 0 00.688.688zM15.635 5.344l1.455-1.455a.67.67 0 000-.952.67.67 0 00-.952 0l-1.455 1.455a.67.67 0 000 .952c.238.264.66.264.952 0zM19.312 9.312h-2.037a.7.7 0 00-.688.688.7.7 0 00.688.688h2.037A.7.7 0 0020 10a.7.7 0 00-.688-.688zM15.608 14.656a.67.67 0 00-.952 0 .67.67 0 000 .952l1.455 1.455a.67.67 0 00.952 0 .67.67 0 000-.952l-1.455-1.455zM10 16.587a.7.7 0 00-.688.688v2.037A.7.7 0 0010 20a.7.7 0 00.688-.688v-2.037a.7.7 0 00-.688-.688zM4.365 14.656L2.91 16.111a.67.67 0 000 .952.67.67 0 00.952 0l1.455-1.455a.67.67 0 000-.952c-.238-.264-.66-.264-.952 0zM3.413 10a.7.7 0 00-.688-.688H.688A.7.7 0 000 10a.7.7 0 00.688.688h2.037A.7.7 0 003.413 10zM4.365 5.344a.67.67 0 00.952 0 .67.67 0 000-.952L3.862 2.937a.67.67 0 00-.952 0 .67.67 0 000 .952l1.455 1.455z"/>
                  </g>
                </svg>
              </div>
            </div>
          </div>

          <div class="grow grid grid-cols-2 px-8 gap-y-12 py-8 bg-clr-bg-dark-mode rounded-2xl text-white">
            <div class="space-y-6">
              <p>Dark Toggle - Idle</p>
              <div class="flex items-center space-x-3">
                <p class="uppercase text-sm font-bold tracking-[.15em]">dark</p>
                <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg">
                  <path fill="#FFFFFF" fill-rule="nonzero"
                        d="M19.513 11.397a.701.701 0 00-.588.128 7.496 7.496 0 01-2.276 1.336 7.101 7.101 0 01-2.583.462 7.505 7.505 0 01-5.32-2.209 7.568 7.568 0 01-2.199-5.342c0-.873.154-1.72.41-2.49a6.904 6.904 0 011.227-2.21.657.657 0 00-.102-.924.701.701 0 00-.589-.128C5.32.61 3.427 1.92 2.072 3.666A10.158 10.158 0 000 9.83c0 2.8 1.125 5.342 2.967 7.19a10.025 10.025 0 007.16 2.98c2.353 0 4.527-.822 6.266-2.183a10.13 10.13 0 003.58-5.624.623.623 0 00-.46-.796z"/>
                </svg>
              </div>
            </div>
            <div class="space-y-6">
              <p>Dark Toggle - Hover</p>
              <div class="flex items-center space-x-3">
                <p class="uppercase text-sm font-bold text-[#90A4D4] tracking-[.15em]">dark</p>
                <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg">
                  <path fill="#90A4D4" fill-rule="nonzero"
                        d="M19.513 11.397a.701.701 0 00-.588.128 7.496 7.496 0 01-2.276 1.336 7.101 7.101 0 01-2.583.462 7.505 7.505 0 01-5.32-2.209 7.568 7.568 0 01-2.199-5.342c0-.873.154-1.72.41-2.49a6.904 6.904 0 011.227-2.21.657.657 0 00-.102-.924.701.701 0 00-.589-.128C5.32.61 3.427 1.92 2.072 3.666A10.158 10.158 0 000 9.83c0 2.8 1.125 5.342 2.967 7.19a10.025 10.025 0 007.16 2.98c2.353 0 4.527-.822 6.266-2.183a10.13 10.13 0 003.58-5.624.623.623 0 00-.46-.796z"/>
                </svg>
              </div>
            </div>
          </div>
          <div class="grow grid grid-cols-2 px-8 gap-y-12 py-8">
            <div class="space-y-6">
              <p class="text-clr-blue-content">Light Link - Idle</p>
              <div class="flex items-center space-x-3">
                <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
                  <g fill="#4b6a9b">
                    <path
                        d="M7.404 5.012c-2.355 2.437-1.841 6.482.857 8.273.089.06.207.048.283-.027.568-.555 1.049-1.093 1.47-1.776a.213.213 0 00-.084-.3A2.743 2.743 0 018.878 10.1a2.64 2.64 0 01-.223-1.803c.168-.815 1.043-1.573 1.711-2.274l-.004-.002 2.504-2.555a2.568 2.568 0 013.648-.019 2.6 2.6 0 01.037 3.666l-1.517 1.56a.266.266 0 00-.06.273c.35 1.012.435 2.44.201 3.519-.006.03.031.05.053.028l3.228-3.295c2.062-2.105 2.044-5.531-.04-7.615a5.416 5.416 0 00-7.691.04L7.417 4.998l-.013.014z"/>
                    <path
                        d="M13.439 13.75a.401.401 0 00.006-.003c.659-1.204.788-2.586.48-3.933l-.002.002-.001-.001a5.434 5.434 0 00-2.19-3.124.3.3 0 00-.333.015c-.553.448-1.095 1.021-1.452 1.754a.243.243 0 00.096.317c.415.24.79.593 1.04 1.061h.001c.196.33.388.958.263 1.632-.116.894-1.019 1.714-1.736 2.453-.546.559-1.935 1.974-2.49 2.542a2.6 2.6 0 01-3.666.037 2.6 2.6 0 01-.038-3.666l1.521-1.564A.266.266 0 005 11.004c-.338-1.036-.43-2.432-.217-3.51.006-.03-.031-.049-.053-.027l-3.179 3.245c-2.083 2.126-2.066 5.588.04 7.693 2.125 2.083 5.57 2.048 7.653-.078.723-.81 3.821-3.678 4.195-4.577z"/>
                  </g>
                </svg>
                <p class="text-clr-blue-content">www.link.com</p>
              </div>
            </div>
            <div class="space-y-6">
              <p class="text-clr-blue-content">Light Toggle - Hover</p>
              <div class="flex items-center space-x-3">
                <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
                  <g fill="#4b6a9b">
                    <path
                        d="M7.404 5.012c-2.355 2.437-1.841 6.482.857 8.273.089.06.207.048.283-.027.568-.555 1.049-1.093 1.47-1.776a.213.213 0 00-.084-.3A2.743 2.743 0 018.878 10.1a2.64 2.64 0 01-.223-1.803c.168-.815 1.043-1.573 1.711-2.274l-.004-.002 2.504-2.555a2.568 2.568 0 013.648-.019 2.6 2.6 0 01.037 3.666l-1.517 1.56a.266.266 0 00-.06.273c.35 1.012.435 2.44.201 3.519-.006.03.031.05.053.028l3.228-3.295c2.062-2.105 2.044-5.531-.04-7.615a5.416 5.416 0 00-7.691.04L7.417 4.998l-.013.014z"/>
                    <path
                        d="M13.439 13.75a.401.401 0 00.006-.003c.659-1.204.788-2.586.48-3.933l-.002.002-.001-.001a5.434 5.434 0 00-2.19-3.124.3.3 0 00-.333.015c-.553.448-1.095 1.021-1.452 1.754a.243.243 0 00.096.317c.415.24.79.593 1.04 1.061h.001c.196.33.388.958.263 1.632-.116.894-1.019 1.714-1.736 2.453-.546.559-1.935 1.974-2.49 2.542a2.6 2.6 0 01-3.666.037 2.6 2.6 0 01-.038-3.666l1.521-1.564A.266.266 0 005 11.004c-.338-1.036-.43-2.432-.217-3.51.006-.03-.031-.049-.053-.027l-3.179 3.245c-2.083 2.126-2.066 5.588.04 7.693 2.125 2.083 5.57 2.048 7.653-.078.723-.81 3.821-3.678 4.195-4.577z"/>
                  </g>
                </svg>
                <p class="text-clr-blue-content underline">www.link.com</p>
              </div>
            </div>
            <div class="space-y-6">
              <p class="text-clr-blue-content">Light Toggle - Hover</p>
              <div class="flex items-center space-x-3">
                <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
                  <g fill="#4B6A9B" opacity="50%">
                    <path
                        d="M7.404 5.012c-2.355 2.437-1.841 6.482.857 8.273.089.06.207.048.283-.027.568-.555 1.049-1.093 1.47-1.776a.213.213 0 00-.084-.3A2.743 2.743 0 018.878 10.1a2.64 2.64 0 01-.223-1.803c.168-.815 1.043-1.573 1.711-2.274l-.004-.002 2.504-2.555a2.568 2.568 0 013.648-.019 2.6 2.6 0 01.037 3.666l-1.517 1.56a.266.266 0 00-.06.273c.35 1.012.435 2.44.201 3.519-.006.03.031.05.053.028l3.228-3.295c2.062-2.105 2.044-5.531-.04-7.615a5.416 5.416 0 00-7.691.04L7.417 4.998l-.013.014z"/>
                    <path
                        d="M13.439 13.75a.401.401 0 00.006-.003c.659-1.204.788-2.586.48-3.933l-.002.002-.001-.001a5.434 5.434 0 00-2.19-3.124.3.3 0 00-.333.015c-.553.448-1.095 1.021-1.452 1.754a.243.243 0 00.096.317c.415.24.79.593 1.04 1.061h.001c.196.33.388.958.263 1.632-.116.894-1.019 1.714-1.736 2.453-.546.559-1.935 1.974-2.49 2.542a2.6 2.6 0 01-3.666.037 2.6 2.6 0 01-.038-3.666l1.521-1.564A.266.266 0 005 11.004c-.338-1.036-.43-2.432-.217-3.51.006-.03-.031-.049-.053-.027l-3.179 3.245c-2.083 2.126-2.066 5.588.04 7.693 2.125 2.083 5.57 2.048 7.653-.078.723-.81 3.821-3.678 4.195-4.577z"/>
                  </g>
                </svg>
                <p class="text-clr-blue-content opacity-50">Not Available</p>
              </div>
            </div>
          </div>

          <div class="grow grid grid-cols-2 px-8 gap-y-12 py-8 bg-clr-bg-dark-mode rounded-2xl text-white">
            <div class="space-y-6">
              <p>Dark Link - Idle</p>
              <div class="flex items-center space-x-3">
                <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
                  <g fill="#FFFFFF">
                    <path
                        d="M7.404 5.012c-2.355 2.437-1.841 6.482.857 8.273.089.06.207.048.283-.027.568-.555 1.049-1.093 1.47-1.776a.213.213 0 00-.084-.3A2.743 2.743 0 018.878 10.1a2.64 2.64 0 01-.223-1.803c.168-.815 1.043-1.573 1.711-2.274l-.004-.002 2.504-2.555a2.568 2.568 0 013.648-.019 2.6 2.6 0 01.037 3.666l-1.517 1.56a.266.266 0 00-.06.273c.35 1.012.435 2.44.201 3.519-.006.03.031.05.053.028l3.228-3.295c2.062-2.105 2.044-5.531-.04-7.615a5.416 5.416 0 00-7.691.04L7.417 4.998l-.013.014z"/>
                    <path
                        d="M13.439 13.75a.401.401 0 00.006-.003c.659-1.204.788-2.586.48-3.933l-.002.002-.001-.001a5.434 5.434 0 00-2.19-3.124.3.3 0 00-.333.015c-.553.448-1.095 1.021-1.452 1.754a.243.243 0 00.096.317c.415.24.79.593 1.04 1.061h.001c.196.33.388.958.263 1.632-.116.894-1.019 1.714-1.736 2.453-.546.559-1.935 1.974-2.49 2.542a2.6 2.6 0 01-3.666.037 2.6 2.6 0 01-.038-3.666l1.521-1.564A.266.266 0 005 11.004c-.338-1.036-.43-2.432-.217-3.51.006-.03-.031-.049-.053-.027l-3.179 3.245c-2.083 2.126-2.066 5.588.04 7.693 2.125 2.083 5.57 2.048 7.653-.078.723-.81 3.821-3.678 4.195-4.577z"/>
                  </g>
                </svg>
                <p>www.link.com</p>
              </div>
            </div>
            <div class="space-y-6">
              <p>Dark Toggle - Hover</p>
              <div class="flex items-center space-x-3">
                <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
                  <g fill="#FFFFFF">
                    <path
                        d="M7.404 5.012c-2.355 2.437-1.841 6.482.857 8.273.089.06.207.048.283-.027.568-.555 1.049-1.093 1.47-1.776a.213.213 0 00-.084-.3A2.743 2.743 0 018.878 10.1a2.64 2.64 0 01-.223-1.803c.168-.815 1.043-1.573 1.711-2.274l-.004-.002 2.504-2.555a2.568 2.568 0 013.648-.019 2.6 2.6 0 01.037 3.666l-1.517 1.56a.266.266 0 00-.06.273c.35 1.012.435 2.44.201 3.519-.006.03.031.05.053.028l3.228-3.295c2.062-2.105 2.044-5.531-.04-7.615a5.416 5.416 0 00-7.691.04L7.417 4.998l-.013.014z"/>
                    <path
                        d="M13.439 13.75a.401.401 0 00.006-.003c.659-1.204.788-2.586.48-3.933l-.002.002-.001-.001a5.434 5.434 0 00-2.19-3.124.3.3 0 00-.333.015c-.553.448-1.095 1.021-1.452 1.754a.243.243 0 00.096.317c.415.24.79.593 1.04 1.061h.001c.196.33.388.958.263 1.632-.116.894-1.019 1.714-1.736 2.453-.546.559-1.935 1.974-2.49 2.542a2.6 2.6 0 01-3.666.037 2.6 2.6 0 01-.038-3.666l1.521-1.564A.266.266 0 005 11.004c-.338-1.036-.43-2.432-.217-3.51.006-.03-.031-.049-.053-.027l-3.179 3.245c-2.083 2.126-2.066 5.588.04 7.693 2.125 2.083 5.57 2.048 7.653-.078.723-.81 3.821-3.678 4.195-4.577z"/>
                  </g>
                </svg>
                <p class="underline">www.link.com</p>
              </div>
            </div>
            <div class="space-y-6">
              <p>Dark Toggle - Hover</p>
              <div class="flex items-center space-x-3">
                <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
                  <g fill="#FFFFFF" opacity="40%">
                    <path
                        d="M7.404 5.012c-2.355 2.437-1.841 6.482.857 8.273.089.06.207.048.283-.027.568-.555 1.049-1.093 1.47-1.776a.213.213 0 00-.084-.3A2.743 2.743 0 018.878 10.1a2.64 2.64 0 01-.223-1.803c.168-.815 1.043-1.573 1.711-2.274l-.004-.002 2.504-2.555a2.568 2.568 0 013.648-.019 2.6 2.6 0 01.037 3.666l-1.517 1.56a.266.266 0 00-.06.273c.35 1.012.435 2.44.201 3.519-.006.03.031.05.053.028l3.228-3.295c2.062-2.105 2.044-5.531-.04-7.615a5.416 5.416 0 00-7.691.04L7.417 4.998l-.013.014z"/>
                    <path
                        d="M13.439 13.75a.401.401 0 00.006-.003c.659-1.204.788-2.586.48-3.933l-.002.002-.001-.001a5.434 5.434 0 00-2.19-3.124.3.3 0 00-.333.015c-.553.448-1.095 1.021-1.452 1.754a.243.243 0 00.096.317c.415.24.79.593 1.04 1.061h.001c.196.33.388.958.263 1.632-.116.894-1.019 1.714-1.736 2.453-.546.559-1.935 1.974-2.49 2.542a2.6 2.6 0 01-3.666.037 2.6 2.6 0 01-.038-3.666l1.521-1.564A.266.266 0 005 11.004c-.338-1.036-.43-2.432-.217-3.51.006-.03-.031-.049-.053-.027l-3.179 3.245c-2.083 2.126-2.066 5.588.04 7.693 2.125 2.083 5.57 2.048 7.653-.078.723-.81 3.821-3.678 4.195-4.577z"/>
                  </g>
                </svg>
                <p class="opacity-40">Not Available</p>
              </div>
            </div>
          </div>
        </div>
      </section>

    </main>
    <footer>
      <div class="text-sm text-center">
        Challenge by <a class="text-[#3E52A3FF]" href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend
        Mentor</a>.
        Coded by <a class="text-[#3E52A3FF]" href="https://ntoniolo.wtf/">ntoniolo</a>.
      </div>
    </footer>
  </div>
</template>

<style scoped>

main {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.typography-display-title {
  @apply text-sm text-clr-blue-content leading-6 whitespace-nowrap;
}

</style>

<script lang="ts">
const colorsData = {
  light: [
    {
      hex: "#0079FF",
      RGB: "0, 121, 255",
      HSL: "212°, 100%, 50%",
      textWhite: true
    },
    {
      hex: "#697C9A",
      RGB: "105, 124, 154",
      HSL: "217°, 20%, 51%",
      textWhite: true
    },
    {
      hex: "#4B6A9B",
      RGB: "75, 106, 155",
      HSL: "217°, 35%, 45%",
      textWhite: true
    },
    {
      hex: "#2B3442",
      RGB: "43, 52, 66",
      HSL: "217°, 21%, 21%",
      textWhite: true
    },
    {
      hex: "#F6F8FF",
      RGB: "246, 248, 255",
      HSL: "227°, 100%, 98%"
    },
    {
      hex: "#FEFEFE",
      RGB: "254, 254, 254",
      HSL: "0°, 0%, 100%"
    }
  ],
  dark: [
    {
      hex: "#0079FF",
      RGB: "0, 121, 255",
      HSL: "212°, 100%, 50%",
      textWhite: true
    },
    {
      hex: "#FFFFFF",
      RGB: "255, 255, 255",
      HSL: "0°, 0%, 100%"
    },
    {
      hex: "#141D2F",
      RGB: "20, 29, 47",
      HSL: "220°, 40%, 13%",
      textWhite: true
    },
    {
      hex: "#1E2A47",
      RGB: "30, 42, 71",
      HSL: "222°, 41%, 20%",
      textWhite: true
    },
  ]
};
</script>
