@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Space Mono', monospace;
    }
}

.text-h1-all {
    @apply font-bold
                text-clr-darken-content dark:text-white
                text-[1.625rem] leading-[2.375rem];
}

.text-h1 {
    @apply font-bold
                text-clr-darken-content dark:text-white
                text-base md:text-[1.625rem] md:leading-[2.375rem];
}

.text-h2 {
    @apply font-bold
                text-clr-darken-content dark:text-white
                text-base md:text-[1.375rem]
                          md:leading-[2.0625rem];
}

.text-h3 {
    @apply dark:text-white
                text-[0.8125rem] md:text-base
                                    md:leading-6;
}

.text-h4 {
    @apply text-clr-darken-content dark:text-white
                text-[0.6875rem] md:text-[0.8125rem]
                                    md:leading-5;
}

.text-body {
    @apply text-clr-darken-content dark:text-white
                text-[0.8125rem] md:text-[0.9375rem]
                                    md:leading-[1.5625rem];
}

.box-shadow-base {
    box-shadow: 0px 16px 30px -10px hsla(227, 46%, 51%, 0.2);
}
.dark .box-shadow-base {
    box-shadow: 0 0 0 0 #FFFFFF00;
}
